body
{
	background-color:#ffffff;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  height: 100%;
}

md-card-content h4 {
  font-weight: 300;
}

#uploadForm
{
	margin: 0 auto;
	width: auto;
	max-width: 70%;
}

#uploadForm .drop-box
{
	border:1px solid #AAA;
	border-radius: 5px;
	line-height: 1.5;
	text-align:center;
	background-color:#EEE;
  padding: 10px;
	margin-bottom: 10px;
	box-shadow: inset 0 0 10px #CCC;
}

#navBar
{

}

#uploadForm button
{
	max-width:250px;
	margin-bottom: 10px;
}

#uploadForm .dragover
{
	border:3px solid #777;
}

#sidebar
{
	float: left;
	width: 20%;
	margin-right:10px;
}

#main
{
	float: right;
	width: calc(80% - 10px);
}

div.uploadWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

div.uploadBox {
  /*background-color: rgba(238,238,238,1);*/
  background-color: white;
  margin: 0 10px auto 10px;
  /*min-height: 500px;*/
  overflow: auto;
  border-radius: 5px;
  padding: 10px 0 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.advanceWrapper {
  margin-top: -20px;
  padding-bottom: 20px;
  overflow: hidden;
  max-height: 400px;
  opacity: 1;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.advanceWrapper.ng-hide {
  max-height: 0;
  opacity: 0;
}

#uploadAdvance {
  text-align: left;
  margin-top: 20px;
}

.uploadWarning {
  /*border: solid 2px #FFA000;*/
  font-size: 0.95em;
  color: #E65100;
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.uploadLogo {
  width: 140px;
  margin-top: -50px;
  margin-bottom: 30px;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.uploadLogoSmall {
  width: 80px;
}

.uploadText {
	margin: 10px 0;
}

/* CLEANING TAB */

/*      Show/Hide button */

.buttonHide {
  margin-right: -8px;
}

/*      No tools message */

#noTools {
  width: 100%;
  text-align: center;
}

#noToolsArt {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 20px;
}

#cleanSidenav {
  min-width: 380px;
  overflow: hidden;
}

.iconExpand {
  transition: all 0.3s;
}

.iconCollapse {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.removeTopPadding {
  padding-top: 0;
}

.submenu {
  padding: 0;
}

.submenu md-list-item p {
  font-size: 0.92em;
  font-weight: 400;
  color: #555555;
}

.richDialog {
  max-width: 50%;
}

#hotTable {
  overflow: hidden;
}

#tableStatus {
  background-color: #009688;
  overflow: hidden;
  padding: 2px 10px 2px 10px;
  color: white;
}

#filteredStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  background-color: #4DB6AC;
  overflow: hidden;
  padding: 5px;
  color: white;
}

#statusWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#inspectorWrapper {
  height: 30px;
  background-color: #DDDDDD;
  overflow: hidden;
  padding: 0 10px;
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#inspectorWrapper div:first-child {
  margin-left: 0;
}

.inspectorIcon {
  margin: 0;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: white !important;
}

.inspectorElementTitle {
  border: solid 1px #777777;
  border-radius: 10px;
  background-color: #777777;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  margin-left: 5px;
  font-size: 0.85em;
  color: white;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
}

.hoverHightlight:hover {
  background-color: #EEEEEE;
  color: #333333;
}

.inspectorElementValue {
  border: solid 1px #777777;
  border-radius: 10px;
  background-color: none;
  height: 20px;
  line-height: 20px;
  padding: 0 10px 0 28px;
  margin-left: -20px;
  font-size: 0.85em;
  color: #333333;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.readOnlyChip {
  border-radius: 10px;
  background-color: #00796B;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  margin-left: 5px;
  font-size: 0.85em;
}

.statusDescription {
  height: 15px;
  line-height: 15px;
  font-size: 0.85em;
  font-weight: 500;
  font-style: italic;
}

.rangeInputContainer {
  padding-left: 16px;
  padding-right: 0;
}

.rangeInputContainer input {
  width: 100px;
}

.toolTab {
  background-color: #fff !important;
}

.toolTabs {
  border-radius: 0 !important;
}

.inspectorTooltip {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.inspectTabBlock {
  padding: 0 0 16px 0;
  line-height: 1.5;
  font-size: 15px;
  color: black;
  background-color: white;
}

.inspectTabBlock.padding {
  padding: 8px 16px 0 16px;
}

.statTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.statTable tr td:first-child {
  min-width: 200px;
  text-align: left;
}

.statTable tr td {
  text-align: right;
  /*border-top: solid 1px #DDDDDD;*/
  padding: 6px 20px;
  overflow: auto;
  white-space: nowrap;
}

.toolTab {
  background-color: #FAFAFA !important;
}

md-divider.dark {
  border-top-color: rgba(0, 0, 0, 0.15);
}