<div flex layout="row">
  <md-content layout-fill>
    <div class="topbar">
      New Document (1)
    </div>
    <md-toolbar class="shortToolbar" style="height: 48px;max-height: 48px;min-height: 0px">
      <div class="md-toolbar-tools" style="height: 48px;">
        <img src="images/logo-disc-dev.png" style="height: 40px; margin-right:10px">
        <h2>
          <span style="font-size: 0.8em;font-weight: bold;">DATABOT</span>
        </h2>
        <span flex></span>
        <md-tabs md-selected="currentTab" style="width: 400px;padding-left: 10px;" class="md-primary">
          <md-tab id="tab1" aria-controls="Clean">Clean</md-tab>
          <md-tab id="tab2" aria-controls="Visualize">Visualize</md-tab>
          <md-tab id="tab2" aria-controls="Analyze">Analyze</md-tab>
        </md-tabs>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="showAdvanced($event)">
          <md-icon md-font-set="material-icons" md-aria-label="Download"> save </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs md-selected="currentTab" class="md-primary" id="hideTabs">
      <md-tab label="Clean">
        <div ng-if="dataLoaded" ui-view="clean">
        </div>
      </md-tab>
      <md-tab label="Visualize">
        <div ng-if="dataLoaded" ui-view="visualize">
        </div>
      </md-tab>
      <md-tab label="Analyze">
        <div ng-if="dataLoaded" ui-view="analyze">
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>