<div layout="column">

    <div layout="row" layout-align="center" layout-padding="5">
        <div flex="60" class="md-whiteframe-z1">
            <div layout="row" layout-align="center">
                <md-button class="md-raised"> Line Chart </md-button>
                <md-button class="md-raised"> Histogram </md-button>
                <md-button class="md-raised"> Scatter Plot </md-button>
                <md-button class="md-raised"> Pie Chart </md-button>
                <md-button class="md-raised"> Bar Chart </md-button>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center" layout-padding="5">
        <div flex="60" class="md-whiteframe-z1">
            <div layout="row" layout-align="center">
                <md-checkbox>
                    Column 1
                </md-checkbox>
                <md-checkbox>
                    Column 2
                </md-checkbox>
                <md-checkbox>
                    Column 3
                </md-checkbox>
                <md-checkbox>
                    Column 4
                </md-checkbox>
                <md-checkbox>
                    Column 5
                </md-checkbox>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center" layout-padding="5">
        <div flex="60" class="md-whiteframe-z1">
            <div id="tester" style='width:600px;height:300px;background-color:black;'></div>
        </div>
    </div>

</div>