<div flex layout="row">
  <md-sidenav id="cleanSidenav" md-is-locked-open="true" class="md-whiteframe-z2" md-theme="grey">
    <md-tabs layout-fill md-dynamic-height md-border-bottom md-center-tabs class="toolTabs md-primary" md-theme="blue-grey">
      <md-tab label="View">
        <md-content class="toolTab">
          <clean-sidebar-filter></clean-sidebar-filter>
          <clean-sidebar-no-tools></clean-sidebar-no-tools>
          <clean-sidebar-edit-column></clean-sidebar-edit-column>
          <clean-sidebar-edit-row></clean-sidebar-edit-row>
        </md-content>
      </md-tab>
      <md-tab label="Clean">
        <md-content class="toolTab">
          <clean-sidebar-missing-values></clean-sidebar-missing-values>
          <clean-sidebar-feature-scaling></clean-sidebar-feature-scaling>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-sidenav>
  <div id="tableWrapper">
    <div id="tableStatus" ng-show="dataFiltered">
      <div class="statusDescription">Showing rows with missing values in the following columns:&nbsp;</div>
    </div>
    <div id="filteredStatus" layout="row" ng-show="dataFiltered">
      <div id="statusWrapper">
        <div class="readOnlyChip" ng-repeat="column in invalidValuesFilterColumns">{{column}}</div>
      </div>
    </div>
    <div id="hotTable"></div>
    <div id="inspectorWrapper" ng-show="showInspector">
      <div layout="row">
        <div class="inspectorElementTitle">
          <md-icon md-font-set="material-icons" class="inspectorIcon"> info_outline </md-icon>
          Quick Inspect: Column Header
        </div>

        <div class="inspectorElementTitle hoverHightlight">
          333
          <md-tooltip md-direction="top" class="inspectorTooltip">
            Mean
          </md-tooltip>
        </div>

        <div class="inspectorElementTitle hoverHightlight">
          555
          <md-tooltip md-direction="top" class="inspectorTooltip">
            Median
          </md-tooltip>
        </div>

        <div class="inspectorElementTitle hoverHightlight">
          326
          <md-tooltip md-direction="top" class="inspectorTooltip">
            Mode
          </md-tooltip>
        </div>

        <div class="inspectorElementTitle hoverHightlight">
          28
          <md-tooltip md-direction="top" class="inspectorTooltip">
            Missing Values Count
          </md-tooltip>
        </div>

        <!--
        <div class="inspectorElementTitle">Mean</div>
        <div class="inspectorElementValue">333</div>

        <div class="inspectorElementTitle">Median</div>
        <div class="inspectorElementValue">333</div>

        <div class="inspectorElementTitle">Mode</div>
        <div class="inspectorElementValue">333</div>

        <div class="inspectorElementTitle">No. of Missing Values</div>
        <div class="inspectorElementValue">333</div>
      -->
      </div>
    </div>
  </div>
</div>