<div flex layout="row">
  <md-sidenav id="cleanSidenav" md-is-locked-open="showSidebar" class="md-whiteframe-z2" md-theme="grey">
    <md-tabs layout-fill md-dynamic-height md-border-bottom md-center-tabs class="toolTabs md-primary" md-theme="blue-grey">
      <md-tab label="Inspect" md-active="true">
        <md-content class="toolTab">
          <clean-sidebar-inspect table-selection="selectedIndices" on-column-change="selectColumn(column, digest)" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-inspect>
        </md-content>
      </md-tab>
      <md-tab label="View">
        <md-content class="toolTab">
          <clean-sidebar-filter on-change="setFilter(type, columns)" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-filter>
          <clean-sidebar-edit-column on-column-change="selectColumn(column, digest)" table-selection="selectedIndices"  show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-edit-column>
          <clean-sidebar-edit-row reset-selection="selectFirstCellOfCurrentSelection(digest)" table-selection="selectedIndices"  show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-edit-row>
        </md-content>
      </md-tab>
      <md-tab label="Operate">
        <md-content class="toolTab">
          <clean-sidebar-missing-values table-selection="selectedIndices" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-missing-values>
          <clean-sidebar-feature-scaling table-selection="selectedIndices" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-feature-scaling>
          <clean-sidebar-feature-encoding table-selection="selectedIndices" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-feature-encoding>
          <clean-sidebar-find-replace table-selection="selectedIndices" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-find-replace>
          <clean-sidebar-danger-zone ng-show="showDangerZone" table-selection="selectedIndices" show-loading-dialog="showLoadingDialog()" hide-dialog="hideDialog()" show-toast="showToast(message, delay)"></clean-sidebar-danger-zone>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-sidenav>
  <div id="tableWrapper">
    <div id="tableStatus" ng-show="dataFiltered">
      <div class="statusDescription">{{ filterText }}&nbsp;</div>
    </div>
    <div id="filteredStatus" layout="row" ng-show="dataFiltered">
      <div id="statusWrapper">
        <div class="readOnlyChip" ng-repeat="column in filterColumns">{{column}}</div>
      </div>
    </div>
    <div id="hotTable"></div>
    <div class="statusBarToggle pointer" ng-click="toggleSidebar()">
      <md-icon md-font-set="material-icons" ng-show="!showSidebar" class="inspectorIcon"> exit_to_app </md-icon>
      <md-icon md-font-set="material-icons" ng-show="showSidebar" class="inspectorIcon" style="transform: scaleX(-1);"> exit_to_app </md-icon>
      <span ng-show="!showSidebar">Show Toolbar</span>
      <span ng-show="showSidebar">Hide Toolbar</span>
    </div>
    <div class="statusBarTitle pointer" ng-click="showInspector = !showInspector">
      <md-icon md-font-set="material-icons" class="inspectorIcon"> tune </md-icon>
      <span ng-show="!showInspector">Show Inspector</span>
      <span ng-show="showInspector">Edit Table View</span>
    </div>
    <div id="tableNavigator" layout="row" ng-show="!showInspector">
      <div>
    Showing rows
      <input class="tableNavSelector" type="number" ng-disabled="dataSize.columns == 0 || dataSize.rows == 0" ng-change="displayRangeChanged(userShowingIndices)" min="1" max="{{dataSize.rows}}" step="1" ng-model="userShowingIndices.rows.start" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 250, 'blur': 0 } }"></input>
    to
      <input class="tableNavSelector" type="number" ng-disabled="dataSize.columns == 0 || dataSize.rows == 0" ng-change="displayRangeChanged(userShowingIndices)" min="1" max="{{dataSize.rows}}" step="1" ng-model="userShowingIndices.rows.end" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 250, 'blur': 0 } }"></input>
    out of {{dataSize.rows}}
    <span ng-click="showDangerZone = !showDangerZone">and </span>
    columns
     <input class="tableNavSelector" type="number" ng-disabled="dataSize.columns == 0 || dataSize.rows == 0" ng-change="displayRangeChanged(userShowingIndices)" min="1" max="{{dataSize.columns}}" step="1" ng-model="userShowingIndices.columns.start" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 250, 'blur': 0 } }"></input>
    to
      <input class="tableNavSelector" type="number" ng-disabled="dataSize.columns == 0 || dataSize.rows == 0" ng-change="displayRangeChanged(userShowingIndices)" min="1" max="{{dataSize.columns}}" step="1" ng-model="userShowingIndices.columns.end" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 250, 'blur': 0 } }"></input>
    out of {{ dataSize.columns }}
    </div>
    </div>
    <clean-inspector-bar table-selection="selectedIndices" ng-show="showInspector"></clean-inspector-bar>
  </div>
</div>