<div flex layout="column">
   	<div layout="row" layout-align="center" layout-padding="5">
        <div layout="column" flex="60" class="md-whiteframe-z1">
            <md-content>
                <md-list>
                    <md-list-item>
                        <h2>Column 1</h2>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>Mean: 456</md-list-item>
                    <md-list-item>Median: 456</md-list-item>
                    <md-list-item>Mode: 456</md-list-item>
                    <md-list-item>Standard Deviation: 456</md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>

    <div layout="row" layout-align="center" layout-padding="5">
        <div layout="column" flex="60" class="md-whiteframe-z1">
            <md-content>
                <md-list>
                    <md-list-item>
                        <h2>Column 2</h2>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>Mean: 456</md-list-item>
                    <md-list-item>Median: 456</md-list-item>
                    <md-list-item>Mode: 456</md-list-item>
                    <md-list-item>Standard Deviation: 456</md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>

    <div layout="row" layout-align="center" layout-padding="5">
        <div layout="column" flex="60" class="md-whiteframe-z1">
            <md-content>
                <md-list>
                    <md-list-item>
                        <h2>Column 3</h2>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>Mean: 456</md-list-item>
                    <md-list-item>Median: 456</md-list-item>
                    <md-list-item>Mode: 456</md-list-item>
                    <md-list-item>Standard Deviation: 456</md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>

</div>