<div flex layout="row">
  <md-content layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <img src="images/logo-disc-dev.png" style="height: 40px; margin-right:10px">
        <h2>
          <span>DCS</span>
        </h2>
      </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs class="md-primary">
      <md-tab label="Clean">
        <div ui-view="clean">
        </div>
      </md-tab>
      <md-tab label="Visualize">
        <div ui-view="visualize">
        </div>
      </md-tab>
      <md-tab label="Analyze">
        <div ui-view="analyze">
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>