<!DOCTYPE html>
<html>
<head>
	<title>DCS</title>
	<script type="text/javascript" src="libraries/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="libraries/bower_components/jquery/dist/jquery.min.js"></script>
	<link rel="icon" type="image/png" href="images/favicon.png">
</head>
<script type="text/javascript">
var app = angular.module('test', []);
app.controller('TestController', ['$scope', 
	function($scope)
	{
		$scope.$watch('renameColumnNewValue', 
			function(newVal, oldVal)
			{
				$scope.canRename = $scope.renameColumnNewValue == undefined; 
			});
		$scope.columns = ['day', 'temperature'];
	}]);
</script>
<body ng-app="test">
	<div ng-controller="TestController">
		<h2>Clean</h2>
		<hr />
		Rename column
		<form>
		<select style="display:block" ng-model="renameColumn">
		<option value="" disabled selected>Select column</option>
		<option ng-repeat="column in columns" value="{{column}}">
			{{column}}
		</option>
		</select>
		<br />
		<div ng-show="renameColumn">Renaming <em>{{renameColumn}}</em> to <em>{{renameColumnNewValue}}</em></div>
		<input ng-show="renameColumn" type="text" value="{{renameColumn}}" ng-model="renameColumnNewValue"></input>
		<button ng-show="rename.canRename">Rename</button>
		{{ canRename }}
		</form>
	</div>
</body>
</html>