<md-card ng-show="shouldShow">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Edit {{text}}</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card-content ng-show="expanded">
    <form name="editForm">
      <md-button class="md-raised md-warn" ng-click="deleteSelectedRows()">Delete Selected {{text}}</md-button>
    </form>
  </md-card-content>
</md-card>