<md-card ng-show="shouldShow">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Missing Values</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div ng-show="expanded">

    <md-subheader class="md-no-sticky" ng-show="shouldShowInterpolation && expanded">Fill With Average Value</md-subheader>
    <md-card-content ng-show="shouldShowInterpolation && expanded">
      <md-button class="md-raised md-primary">Mean</md-button>
      <md-button class="md-raised md-primary">Median</md-button>
    </md-card-content>

    <md-list>
      <md-subheader class="md-no-sticky">Fill With Nearest Valid Value</md-subheader>
      <md-list-item class="md-2-line" ng-click="requestFill('pad')">
        <img src="images/ffill.png" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>Forward Fill</h3>
          <p>Use the LAST valid value to fill gaps</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="requestFill('bfill')">
        <img src="images/bfill.png" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>Backward Fill</h3>
          <p>Use the NEXT valid value to fill gaps</p>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <md-divider ng-show="shouldShowInterpolation && expanded"></md-divider>
  <md-card-content class="removeTopPadding" ng-show="shouldShowInterpolation && expanded">
    <div layout="column">
      <form name="fillMissingValsForm" ng-model="fillMissingVals">
        <md-input-container class="md-block">
          <label>Interpolation Method</label>
          <md-select name="interpolationMethod" ng-model="interpolationMethod">
            <md-option ng-repeat="method in missingValsInterpolationMethods" value="{{method}}">
              {{method}}
            </md-option>
          </md-select>
        </md-input-container>
      </form>
      <md-button class="md-raised md-primary md-hue-2" ng-disabled="interpolationMethod == null" ng-click="interpolate()">Interpolate</md-button>
      <md-button>
        <md-icon md-font-set="material-icons"> info </md-icon>
        <span>Learn More</span>
      </md-button>
    </div>
  </md-card-content>

  <md-divider ng-show="expanded"></md-divider>
  <md-card-content class="removeTopPadding" ng-show="expanded">
    <div layout="column">
      <form name="fillWithCustomForm" ng-model="fillWithCustom">
        <md-input-container class="md-block">
          <label>Custom Value</label>
          <input ng-model="customNewValue">
        </md-input-container>
      </form>
      <md-button class="md-raised md-primary md-hue-2" ng-disabled="customNewValue == null || customNewValue == ''" ng-click="fillWithCustomValue()">Fill Gaps with This Value</md-button>
    </div>
  </md-card-content>

</md-card>