<div class="inspectTabBlock padding">
  <md-input-container>
    <label>Column</label>
    <md-select ng-model="columnName">
      <md-option ng-repeat="column in columns" value="{{column}}">
        {{column}}
      </md-option>
    </md-select>
  </md-input-container>
</div>
<md-divider></md-divider>
<md-list class="submenu">
  <md-list-item ng-click="propsExp = !propsExp">
    <p>Properties</p>
    <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': !propsExp, 'iconExpand': propsExp}"> expand_more </md-icon>
  </md-list-item>
</md-list>
<div layout="column" class="inspectTabBlock" ng-hide="propsExp">
  <table class="statTable">
    <tr>
      <td>Missing Values Count:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Data Type:</td>
      <td>float64</td> 
    </tr>
  </table>
</div>
<md-divider></md-divider>
<md-list class="submenu">
  <md-list-item ng-click="statsExp = !statsExp">
    <p>Statistics</p>
    <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': !statsExp, 'iconExpand': statsExp}"> expand_more </md-icon>
  </md-list-item>
</md-list>
<div layout="column" class="inspectTabBlock" ng-hide="statsExp">
  <table class="statTable">
    <tr>
      <td>Mean:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Median:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Mode:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Standard Deviation:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Range:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Min:</td>
      <td>333</td> 
    </tr>
    <tr>
      <td>Max:</td>
      <td>333</td> 
    </tr>
  </table>
</div>
<md-divider></md-divider>