<md-card ng-show="shouldShow">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Edit {{ text }}</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content ng-show="expanded">
    <form name="editColumnForm" ng-model="editColumnForm" ng-show="singleColumn">
      <md-input-container>
        <label>Column</label>
        <md-select ng-model="columnName" ng-change="userChangedColumn(columnName)">
          <md-option ng-repeat="column in columns" value="{{column}}">
            {{column}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="columnName">
        <label>Edit Name</label>
        <input type="text" ng-model="newName" ng-change="userSetNewName(newName)"></input>
      </md-input-container>
      <md-input-container ng-show="columnName">
        <label>Edit Data Type</label>
        <md-select ng-model="newDataType" ng-change="userSetNewDataType(newDataType)">
          <md-option ng-repeat="dataType in allowedAlternativeDataTypes" value="{{dataType}}">
            {{ dataType }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="newDataType == 'datetime'">
        <label>Date Format String</label>
        <input type="text" placeholder="Auto" ng-model="dateFormatString" ng-change="userSetDateFormat(dateFormatString)"></input>
      </md-input-container>

      <md-button class="md-raised md-primary" ng-show="editColumnForm.$dirty" ng-disabled="!canSave" ng-click="save()">Save</md-button>
      <md-button class="md-raised md-primary" ng-show="editColumnForm.$dirty" ng-click="reset()">Cancel</md-button>
    </form>
  </md-card-content>
  <md-divider ng-show="expanded && singleColumn"></md-divider>
  <md-card-content ng-show="expanded">
    <md-button class="md-raised md-primary" ng-click="emptyStringToNan()" ng-show="singleColumn">Treat empty strings as invalid values</md-button>
    <md-button class="md-raised md-warn" ng-click="deleteSelectedColumns()">Delete Selected {{ text }}</md-button>
  </md-card-content>
</md-card>