<div class="inspectTabBlock padding">
  <md-input-container>
    <label>Column</label>
    <md-select ng-model="column" ng-change="userChangedColumn(column)">
      <md-option ng-repeat="currentColumn in columns" value="{{currentColumn}}">
        {{ currentColumn }}
      </md-option>
    </md-select>
  </md-input-container>
</div>
<md-divider></md-divider>
<md-list class="submenu">
  <md-list-item ng-click="propsExp = !propsExp">
    <p>Properties</p>
    <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': !propsExp, 'iconExpand': propsExp}"> expand_more </md-icon>
  </md-list-item>
</md-list>
<div layout="column" class="inspectTabBlock" ng-hide="propsExp">
  <table class="statTable">
    <tr ng-repeat="statistic in properties">
      <td>{{ statistic.metric }}</td>
      <td>{{ statistic.value }}</td> 
    </tr>
  </table>
</div>
<md-divider></md-divider>
<md-list class="submenu">
  <md-list-item ng-click="statsExp = !statsExp">
    <p>Statistics</p>
    <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': !statsExp, 'iconExpand': statsExp}"> expand_more </md-icon>
  </md-list-item>
</md-list>
<div layout="column" class="inspectTabBlock" ng-hide="statsExp">
  <table class="statTable">
    <tr ng-repeat="statistic in analysis">
      <td>{{ statistic.metric }}</td>
      <td>{{ statistic.value }}</td> 
    </tr>
  </table>
</div>
<md-divider></md-divider>