<md-card ng-show="shouldShow">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Column Operations</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-list class="submenu" ng-show="expanded && shouldShow">
    <md-list-item ng-click="dupColExp = !dupColExp">
      <p>Duplicate Column</p>
      <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': dupColExp, 'iconExpand': !dupColExp}"> expand_more </md-icon>
    </md-list-item>
  </md-list>
  <md-card-content class="removeTopPadding" ng-show="dupColExp && expanded && shouldShow">
    <div layout="row" class="replaceList emptyMessage">This option creates a copy of the selected column and inserts it after the original.</div>
    <div layout="column">
      <md-button class="md-raised md-primary" ng-click="insertDuplicateColumn()">Duplicate Column</md-button>
    </div>
  </md-card-content>

  <md-divider ng-show="expanded && shouldShow && shouldShowSplitColumn"></md-divider>

  <md-list class="submenu" ng-show="expanded && shouldShow && shouldShowSplitColumn">
    <md-list-item ng-click="splitColExp = !splitColExp">
      <p>Split Column</p>
      <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': splitColExp, 'iconExpand': !splitColExp}"> expand_more </md-icon>
    </md-list-item>
  </md-list>
  <div ng-show="splitColExp && expanded && shouldShow && shouldShowSplitColumn" style="padding: 0 16px;">
    <div layout="row" class="replaceList emptyMessage">This option splits values in a column using the specified delimiter into multiple columns and inserts them after the original.</div>
  </div>
  <md-card-content class="removeTopPadding" ng-show="splitColExp && expanded && shouldShow && shouldShowSplitColumn">
    <div layout="column">
      <div layout="row">
        <md-input-container flex="75" class="md-block">
          <label>Delimiter</label>
          <input required ng-model="delimiter" ng-trim="false">
        </md-input-container>
        <md-checkbox flex ng-model="regex" class="smallText" style="line-height: 60px">
          Regex
        </md-checkbox>
      </div>
      <md-button class="md-raised md-primary" ng-disabled="delimiter == null || delimiter == ''" ng-click="splitColumn()">Split Column</md-button>
    </div>
  </md-card-content>

  <md-divider ng-show="expanded && shouldShow"></md-divider>

  <md-list class="submenu" ng-show="expanded">
    <md-list-item ng-click="combColExp = !combColExp">
      <p>Combine Columns</p>
      <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': combColExp, 'iconExpand': !combColExp}"> expand_more </md-icon>
    </md-list-item>
  </md-list>
  <md-card-content class="removeTopPadding" ng-show="combColExp && expanded">
    <div layout="column">
      <div layout="row" class="replaceList emptyMessage">
        This option combines values of multiple columns into a single column using a specified seperator (optional) and inserts it in the selected column position.
      </div>
      <div layout="row" style="margin-bottom: 5px">
        <md-autocomplete
          flex
          style="margin: 2px 0"
          md-search-text="searchQuery"
          md-selected-item="selectedColumn"
          md-items="column in querySearch(searchQuery)"
          md-no-cache="true"
          placeholder="Type column name">
          <span md-highlight-text="searchQuery">{{column}}</span>
          <md-not-found>
            No matching columns
          </md-not-found>
        </md-autocomplete>
        <md-button class="md-raised md-primary" ng-disabled="selectedColumn == null || selectedColumn == ''" ng-click="addColumn()">Add</md-button>
      </div>
      <div layout="column" ng-repeat="column in columnsToCombine track by $index">
        <div layout="row" class="replaceList">
          <div class="replaceListIndexBubble">{{ $index + 1 }}</div>
          <div flex="80" class="replaceListElement">{{ column }}</div>
          <md-icon flex md-font-set="material-icons" ng-click="deleteReplacement($index)" class="pointer"> close </md-icon>
        </div>
      </div>
      <md-input-container style="padding-bottom: 2px">
        <label>Seperator (optional)</label>
        <input ng-model="seperator" ng-trim="false">
      </md-input-container>
      <md-input-container>
        <label>New column header</label>
        <input required ng-model="newName" ng-change="updateDisabled()">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-disabled="disableCombine" ng-click="combineColumns()">Combine Columns</md-button>
    </div>
  </md-card-content>

</md-card>