<md-card ng-show="shouldShow">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Custom Transformations</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  
  <md-subheader class="md-no-sticky" ng-show="expanded">Find & Replace</md-subheader>
  <md-card-content ng-show="expanded" class="removeTopPadding">
    <div layout="column">
      <form name="findReplaceForm" ng-model="findReplaceForm">
        <md-input-container class="md-icon-float md-block">
          <label>String to match</label>
          <md-icon md-font-set="material-icons"> find_replace </md-icon>
          <input ng-model="toReplace">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Replacement string</label>
          <md-icon md-font-set="material-icons"> flip_to_front </md-icon>
          <input ng-model="replaceWith">
        </md-input-container>
        <div layout="row" layout-align="center">
          <md-button class="md-raised md-primary" ng-disabled="findReplaceForm.$invalid" ng-click="singleReplace()">Replace</md-button>
          <md-button class="md-raised md-primary" ng-disabled="findReplaceForm.$invalid" ng-click="addReplacement()">
            Add
            <md-tooltip md-direction="bottom">
              Add to batch replacement queue
            </md-tooltip>
          </md-button>
          <md-button class="md-raised" ng-disabled="findReplaceForm.$invalid" ng-click="resetForm()">Reset</md-button>
        </div>
      </form>
    </div>
  </md-card-content>
  <md-divider ng-show="expanded"></md-divider>
  <md-card-content ng-show="expanded" class="removeTopPadding removeBottomPadding">
    <md-checkbox ng-model="matchRegex" class="smallText">
      Match regular expression
    </md-checkbox>
  </md-card-content>
  <md-divider ng-show="expanded"></md-divider>
  <md-list class="submenu" ng-show="expanded">
    <md-list-item ng-click="batchExp = !batchExp">
      <p>Batch replacement queue ({{ replacements.length }})</p>
      <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': batchExp, 'iconExpand': !batchExp}"> expand_more </md-icon>
    </md-list-item>
  </md-list>
  <md-card-content ng-show="expanded && batchExp" class="removeTopPadding">
    <div layout="column">
      <div layout="row" class="replaceList emptyMessage" ng-show="replacements.length == 0">
        Import a queue or use the form above to add replacements to this queue.
      </div>
      <div layout="column" ng-repeat="value in valuesToReplace track by $index">
        <div layout="row" ng-class="{'replaceList expand': editExp, 'replaceList': !editExp}">
          <div class="replaceListIndexBubble">{{ $index + 1 }}</div>
          <div flex class="replaceListElement">{{ value }}</div>
          <md-icon md-font-set="material-icons"> chevron_right </md-icon>
          <div flex class="replaceListElement">{{ replacements[$index] }}</div>
          <md-icon md-font-set="material-icons" ng-click="deleteReplacement($index)" class="pointer"> close </md-icon>
        </div>
        <div layout="row" class="replaceList controls" ng-show="editExp">
          <md-icon md-font-set="material-icons" ng-click="moveUp($index)" class="pointer"> expand_less </md-icon>
          <md-icon md-font-set="material-icons" ng-click="moveDown($index)" class="pointer"> expand_more </md-icon>
        </div>
      </div>
      <md-button flex class="md-warn" ng-show="editExp && replacements.length > 0" ng-click="resetLists()">Clear queue</md-button>
      <div layout="row" style="padding-top: 5px">
        <md-button flex="60" class="md-raised md-primary" ng-disabled="replacements.length == 0" ng-click="findReplace()">Batch replace</md-button>
        <md-button flex class="md-raised" ng-disabled="replacements.length == 0" ng-click="editExp = !editExp">Edit</md-button>
      </div>
      <div layout="row">
        <md-button flex class="md-raised" ng-click="importReplacements()">Import</md-button>
        <md-button flex class="md-raised" ng-disabled="replacements.length == 0" ng-click="exportReplacements()">Export</md-button>
      </div>
    </div>
  </md-card-content>

</md-card>