<md-card ng-show="shouldShow">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Filter</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content class="removeTopPadding" ng-show="expanded">
    <div layout="column">
      <md-input-container>
        <label>Filter Type</label>
        <md-select ng-model="filterType" ng-change="filterTypeChanged(filterType)">
          <md-option value="duplicates">
            Duplicates
          </md-option>
          <md-option value="invalid">
            Invalid Values
          </md-option>
          <md-option value="outliers">
            Outliers
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container ng-show="filterType == 'duplicates'">
        <md-checkbox ng-model="duplicateAllColumns" ng-change="notifyListener()">All Columns</md-checkbox>
      </md-input-container>

      <md-input-container ng-show="filterType && (filterType != 'duplicates' || !duplicateAllColumns)">
        <label>Filter Columns</label>
        <column-picker placeholder="Type to add column" changed="filterColumnsChanged" filter="columnFilter"></column-picker>
      </md-input-container>

      <md-input-container ng-show="filterType == 'duplicates' && !duplicateAllColumns && filterColumns.length > 1">
        <label>Group By</label>
        <md-select ng-model="duplicateGroupByFilterColumn" ng-change="duplicateGroupByFilterColumnChanged(duplicateGroupByFilterColumn)">
          <md-option ng-repeat="column in filterColumns" value="{{column}}">
            {{column}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-card-content>

</md-card>