<md-card ng-show="shouldShow">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Filter</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content class="removeTopPadding" ng-show="expanded">
    <div layout="column">
      <md-input-container>
        <label>Filter Type</label>
        <md-select ng-model="filterType" ng-change="">
          <md-option value="duplicates">
            Duplicates
          </md-option>
          <md-option value="invalid">
            Invalid Values
          </md-option>
          <md-option value="outliers">
            Outliers
          </md-option>
        </md-select>
      </md-input-container>

      <md-chips ng-model="filterColumns" md-require-match="true">
        <md-autocomplete
          md-search-text="searchText"
          md-items="column in querySearch(searchText)"
          md-no-cache="true"
          placeholder="Type to add column">
          <span md-highlight-text="searchText">{{column}}</span>
          <md-not-found>
            No matching columns
          </md-not-found>
        </md-autocomplete>
        <md-chip-template>
          <strong>{{$chip}}</strong>
        </md-chip-template>
      </md-chips>
      
    </div>
  </md-card-content>

</md-card>