<md-card ng-show="shouldShow">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Categorical Feature Encoding</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-list ng-show="expanded">
    <md-list-item>
      <div class="md-list-item-text">
        <p class="cardDescriptor">This option encode categorical features using a one-hot (one-of-K) scheme, i.e. coverts each record of the column to a combination of a single high (1) bit and zero or more low (0) bits.</p>
      </div>
    </md-list-item>
  </md-list>
  <md-card-content class="removeTopPadding" ng-show="expanded">
    <div layout="column">
      <md-checkbox ng-model="inplace" class="smallText">
        Replace original column
      </md-checkbox>
      <md-button class="md-raised md-primary" ng-click="generateDummies()">Encode Column</md-button>
    </div>
  </md-card-content>

</md-card>