<md-card ng-show="shouldShow">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><span>Missing Values</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="expanded = !expanded">
        <md-icon md-font-set="material-icons" ng-class="{'iconCollapse': expanded, 'iconExpand': !expanded}"> expand_more </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div ng-show="expanded">
    <md-list>
      <md-subheader class="md-no-sticky">Nearest Valid Value</md-subheader>
      <md-list-item class="md-2-line" ng-click="requestFill('pad')">
        <img src="images/ffill.png" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>Forward Fill</h3>
          <p>Use the LAST valid value to fill gaps</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="requestFill('bfill')">
        <img src="images/bfill.png" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>Backward Fill</h3>
          <p>Use the NEXT valid value to fill gaps</p>
        </div>
      </md-list-item>

      <md-divider ng-show="shouldShowInterpolation"></md-divider>

      <md-subheader class="md-no-sticky" ng-show="shouldShowInterpolation">Interpolation</md-subheader>
      <md-list-item class="md-2-line" ng-show="shouldShowInterpolation">
        <form name="fillMissingValsForm" ng-model="fillMissingVals">
          <md-input-container>
            <label>Interpolation Method</label>
            <md-select name="interpolationMethod" ng-model="interpolationMethod">
              <md-option ng-repeat="method in missingValsInterpolationMethods" value="{{method}}">
                {{method}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-show="fillMissingValsForm.$dirty" ng-click="interpolate()">Interpolate</md-button>
        </form>
      </md-list-item>
    
    </md-list>
    
  </div>
</md-card>